<footer class="footer">
  <div class="container__footer">
    <div class="container__info">
      <div class="container__brand">
        <img class="brand__footer" src="" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Expedita blanditiis ex iusto eveniet cupiditate facilis,
          illo maiores modi sapiente eligendi natus quia dolore
          accusantium tenetur eos, quo, dolor ipsa asperiores.</p>
      </div>
      <div class="social">
            <ul class="list__social">
              <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope-open-text"></i></a></li>
              <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
            </ul>
      </div>
    </div>
    <div class="container__menu__footer">
      <ul class="menu_footer">
        <p>Menu</p>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
      </ul>
      <ul class="menu_footer">
        <p>Menu</p>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          Link 1
        </a>
        </li>
      </ul>
    </div>
    <div class="container__menu__contact">
      <ul class="menu__contact">
        <p>Contacto</p>
        <li>
          <a>
            <i class="fas fa-map-marker-alt"></i>
            Lorem ipsum dolor reprehenderit libero, ex sequi, fugiat doloribus doloremque.
          </a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-mobile-alt"></i>+51 952 226 284
        </a>
        </li>
        <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-envelope-open-text"></i> email@example.com
        </a>
        </li>
      </ul>

    </div>
  </div>
  <div class="container__copy">
    <ul class="copy">
      <li class="item__link"><a href="#" class="link__copy">Terminos y condiciones</a></li>
      <li class="item__link"><a href="#" class="link__copy">Políticas de privacidad</a></li>
      <li class="item__link"><a href="#" class="link__copy">Desarrollado por jgarcia</a></li>
    </ul>
</div>
</footer>
