<div class="nav__top  {{estadoMenuTop ? 'submenu_show' :''}}">
  <div class="container__top">
      <div class="container__contact">
        <a type="email" target="_blank" href="mailto:email@example.com" ><i class="fas fa-envelope-open-text"></i> email@example.com</a>
        <a href="tel:+52952226284"><i class="fas fa-mobile-alt"></i>+51 952 226 284</a>
      </div>
      <div class="container__social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <div class="container__callback">
            <a  type="tel" href="tel:+51952226284"><i class="fas fa-phone-volume"></i> Callback</a>
        </div>
      </div>
  </div>
</div>
