<section class="container_services">
 <div class="header__services">
  <p class="title">{{title}}</p>
  <h2 class="subtitle">{{subtitle }}</h2>
 </div>
  <div class="container_services">
      <div class="card_service">
          <div class="card_service_header">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <div class="card_service_body">
            <h3>Titulo card</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quod, expedita,
              architecto, quam sequi perspiciatis sunt praesentium commodi ducimus
              vel animi necessitatibus consectetur blanditiis. Iure eum impedit explicabo sed magni?</p>
          </div>
          <div class="hover"></div>
      </div>
      <div class="card_service">
        <div class="card_service_header">
          <i class="fab fa-aws"></i>
        </div>
        <div class="card_service_body">
          <h3>Titulo card</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quod, expedita,
            architecto, quam sequi perspiciatis sunt praesentium commodi ducimus
            vel animi necessitatibus consectetur blanditiis. Iure eum impedit explicabo sed magni?</p>
            <div class="hover"></div>

          </div>
    </div>
    <div class="card_service">
      <div class="card_service_header">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="card_service_body">
        <h3>Titulo card</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quod, expedita,
          architecto, quam sequi perspiciatis sunt praesentium commodi ducimus
          vel animi necessitatibus consectetur blanditiis. Iure eum impedit explicabo sed magni?</p>
          <div class="hover"></div>

      </div>
  </div>
  <div class="card_service">
    <div class="card_service_header">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <div class="card_service_body">
      <h3>Titulo card</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quod, expedita,
        architecto, quam sequi perspiciatis sunt praesentium commodi ducimus
        vel animi necessitatibus consectetur blanditiis. Iure eum impedit explicabo sed magni?</p>
        <div class="hover"></div>

    </div>
</div>
  </div>
</section>
